# Ignore common Python files and directories
__pycache__
*.pyc
*.pyo
*.pyd

# Ignore files related to version control systems
.git
.gitignore

# Ignore virtual environment files
venv/
.env

# Ignore Docker-related files
Dockerfile
.dockerignore

# Ignore any local development files
*.log
*.db
*.sqlite
*.pyc

# Ignore test files and directories
tests/
test/

# Ignore editor-specific files
.vscode/
.idea/
*.sublime*
*.swp